[*.{cs,vb}]

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = true:silent

# CS7035: The specified version string does not conform to the recommended format - major.minor.build.revision
dotnet_diagnostic.CS7035.severity = silent
